.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.form{
  display: flex;
  flex-direction: column;
}
.ggle{
  color: black;
  background-color: #f5fafd;
}
.container{
width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(60, 151, 207, 0.6);
}
.container1{
  background-color:  #f5fafd;
  }
@media screen and (max-width: 1024px){
  #event_list{
    margin-left: 60px; 
  }
  .ggle{
    height: 46px;
  }
 }
 
 @media screen and (max-width: 280px){
   .link{
    font-size: 49px;
    margin-top: -50px;
  }
  #scontainer{
    display: none;
  }
  .ggle{
    width: 190px;
    height: 60px;
    margin-top: -170px;
    margin-bottom: 40px;
  }
  .nav-item2{
    font-size: 49px;
    margin-left: -200px;
    margin-top: -20px;
  }
  .opt{
    width: 182px;
  }
    .container1{
      width: 1110px;
    } 
    .fter{
      font-size: 49px;
    }
    #body{
      display: block;
      font-size: 49px;
    }
}
   
.cont{
width: 21%;
   padding: 20px;
   background-color: white;
   border-radius: 18px;
}
.input{
  flex: 1;
   min-width: 40%;
   margin: 20px 10px 0px 0px;
   padding: 10px;
   border-radius: 18px;
}
.button{
  border-radius: 18px;
  border: none;
  background-color: rgb(20, 20, 29);
  padding: 5px 20px;
  cursor: pointer;
  color: white;
  width: 160px;
}
.title{
  font-size: 24px;
  font-weight: 300;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.l-register{
  margin-left: 20px;
}
.App-link {
  /* color: #61dafb; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
